<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

            <!-- ################################### -->
            <!-- bloco de adição -->
            <p:panel>
            <p:dialog widgetVar="editAdicionaAuxilio" modal="true"
                      header="#{(addEditAuxilioMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      resizable="false">
                <ui:debug/>
                <h:panelGrid id="editAdicionaAuxilioGrid">
                    <h:form id="formAddEditAuxilio">
                        <p:scrollPanel style="width:785px;height:550px">
                        <p:fieldset legend="Responsável">
                            <h:panelGrid columns="5">

                                <h:outputText styleClass="asterisco" value=""/>
                                <h:outputText value="Criar auxílio em Projeto Ativo:" rendered="#{addEditAuxilioMB.existeProjetoAtivo and addEditAuxilioMB.adicionarState}"/>
                                <h:selectBooleanCheckbox value="#{addEditAuxilioMB.insereProjetoAtivo}" rendered="#{addEditAuxilioMB.existeProjetoAtivo and addEditAuxilioMB.adicionarState}"/>
                                <h:outputText value="" rendered="#{addEditAuxilioMB.existeProjetoAtivo and addEditAuxilioMB.adicionarState}"/>
                                <h:outputText value="" rendered="#{addEditAuxilioMB.existeProjetoAtivo and addEditAuxilioMB.adicionarState}"/>

                                <h:outputText styleClass="asterisco" value="*"/>
                                <h:outputText value="Responsável: " />
                                <p:selectOneMenu id="comboSelectResponsavelAuxilio" value="#{addEditAuxilioMB.idResponsavel}" required="true" disabled="#{!addEditAuxilioMB.podeAlterarResponsavel}" requiredMessage="É necessário indicar o Responsável">
                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                    <f:selectItems value="#{addEditAuxilioMB.listaPessoasSelectItem}"/>
                                    <p:ajax update=":formAddEditAuxilio:departamento :formAddEditAuxilio:dadosContaCorrente :formAddEditAuxilio:editCC" listener="#{addEditAuxilioMB.atualizaDepartamento}"/>
                                </p:selectOneMenu>
                                <p:message for="comboSelectResponsavelAuxilio" display="icon"/>
                                <h:outputText value="" />

                                <h:outputText styleClass="asterisco" value="*"/>
                                <h:outputText value="Departamento: " />
                                <p:selectOneMenu id="departamento" value="#{addEditAuxilioMB.departamento}" converter="departamentoConverter" required="true" requiredMessage="É necessário indicar o Departamento">
                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                    <f:selectItems value="#{addEditAuxilioMB.listaDepartamentos}"/>
                                </p:selectOneMenu>
                                <p:message for="departamento" display="icon"/>
                                <h:outputText value="" />
                            </h:panelGrid>
                            <h:panelGrid columns="6" id="dadosContaCorrente">
                                <h:outputText styleClass="asterisco" value=""/>
                                <h:outputText value="Conta Corrente" />
                                <p:selectOneMenu value="#{addEditAuxilioMB.idContaCorrente}" required="false" id="contaCorrente" >
                                    <f:selectItem itemLabel="Selecione"/>
                                    <f:selectItems value="#{addEditAuxilioMB.listaContaCorrente}"/>
                                    <p:ajax process="@this" update=":formAddEditAuxilio:editCC"/>
                                </p:selectOneMenu>
                                
                                <p:commandLink id="editCC" action="#{addEditContaCorrenteMB.prepareEditarCC(addEditAuxilioMB.idContaCorrente)}" update=":addEditPanelCorrente" disabled="#{addEditAuxilioMB.idContaCorrente==null}" immediate="true">
                                    <h:graphicImage value="#{addEditAuxilioMB.imagemEditarRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{addEditAuxilioMB.responsavelCC}" target="#{addEditContaCorrenteMB.responsavelCC}"/>
                                </p:commandLink>
                                
                                <p:commandLink id="addCC" action="#{addEditContaCorrenteMB.prepareAdicionarCC}" update=":addEditPanelCorrente" disabled="#{addEditAuxilioMB.idResponsavel==null}" immediate="true">
                                    <h:graphicImage value="#{addEditAuxilioMB.imagemCriarRegistro}" style="border:0"/>
                                    <f:setPropertyActionListener value="#{addEditAuxilioMB.responsavelCC}" target="#{addEditContaCorrenteMB.responsavelCC}"/>
                                </p:commandLink>

                            </h:panelGrid>
                            <h:panelGrid columns="4" id="panelTipBolsaAux">
                                <h:outputText value="Tipo: " />
                                <p:selectOneRadio id="cadastroTipoBolsaAuxilio" value="#{addEditAuxilioMB.auxilio.tipo}" >
                                    <f:selectItem itemLabel="Bolsas" itemValue="bolsas" />
                                    <f:selectItem itemLabel="Auxílios" itemValue="auxilios" />
                                </p:selectOneRadio>
                            </h:panelGrid>
                            <h:panelGrid columns="4" id="dadosBolsista">
                                <h:outputText styleClass="asterisco" value=""/>
                                <h:outputText value="Indicar bolsista" />
                                <p:selectBooleanCheckbox value="#{addEditAuxilioMB.indicarBolsista}" immediate="true" valueChangeListener="#{addEditAuxilioMB.clickCheckBox}" >
                                    <p:ajax event="change" update="panelIndicarBolsista"/>
                                </p:selectBooleanCheckbox>
                                <p:panel visible="#{addEditAuxilioMB.indicarBolsista}" id="panelIndicarBolsista">
                                    <h:outputText value="Bolsista" />
                                    <p:selectOneMenu value="#{addEditAuxilioMB.auxilio.fkBolsista}" required="false" converter="pessoaConverter">
                                        <f:selectItems value="#{addEditAuxilioMB.listaPessoasBolsistas}" var="bol" itemLabel="#{bol.nome}" itemValue="#{bol}"/>
                                        <p:ajax event="valueChange" update="contaCorrente" listener="#{addEditAuxilioMB.atualizaContasCorrentes}"/>
                                    </p:selectOneMenu>
                                </p:panel>
                            </h:panelGrid>
                        </p:fieldset>
                        <p:fieldset legend="Auxílio">
                        <h:panelGrid columns="4">
                            <h:outputText value="Título do Auxilio: " />
                            <p:inputTextarea style="width:450px;" autoResize="false" effectDuration="5" maxHeight="40" id="titulo" value="#{addEditAuxilioMB.auxilio.nomeIdentificacao}" required="true" requiredMessage="#{label.general_Titulo_Required}"/>
                            <p:message for="titulo" display="icon"/>
                        </h:panelGrid>
                        <h:panelGrid columns="5">
                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="#{label.general_Num_USP}" />
                            <p:inputMask value="#{addEditAuxilioMB.auxilio.protocolo}" mask="9999.9.99999.99.9" disabled="#{!addEditAuxilioMB.podeAlterarStatusAuxilioFinanceiro}" validator="#{addEditAuxilioMB.validateNumeroUsp}"/>
                            <h:outputText value="" />
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Nº Mercúrio" />
                            <p:inputText value="#{addEditAuxilioMB.auxilio.numeroMercurio}" disabled="#{!addEditAuxilioMB.podeAlterarStatusAuxilioFinanceiro}" validator="#{addEditAuxilioMB.validateNumeroMercurio}"/>
                            <h:outputText value="" />
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Processo Entidade Financiadora" />
                            <p:inputText value="#{addEditAuxilioMB.auxilio.protocoloFinanciador}" disabled="false" validator="#{addEditAuxilioMB.validateProtocoloFinanciador}"/>
                            <h:outputText value="" />
                            <h:outputText value="" />

                        </h:panelGrid>

                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Entidade Financiadora" />
                            <p:selectOneMenu id="entidadeFinan" value="#{addEditAuxilioMB.idFinanciador}" required="true" requiredMessage="É necessário indicar a Entidade Financiadora">
                                <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                <f:selectItems value="#{addEditAuxilioMB.listaFinanciadores}"/>
                                <p:ajax event="valueChange" update="formAddEditAuxilio:tipoAux formAddEditAuxilio:modalidade" listener="#{addEditAuxilioMB.atualizaTipoAuxilio}"/>
                            </p:selectOneMenu>
                            <p:message for="entidadeFinan" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Tipo de Financiamento" />
                            <p:selectOneMenu id="tipoAux" value="#{addEditAuxilioMB.idTipoAuxilio}">
                                <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                <f:selectItems value="#{addEditAuxilioMB.listaTiposAuxilio}"/>
                                <p:ajax event="valueChange" update="modalidade" listener="#{addEditAuxilioMB.atualizaModalidade}"/>
                            </p:selectOneMenu>
                            <p:message for="tipoAux" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Modalidade:" />
                            <p:selectOneMenu id="modalidade" value="#{addEditAuxilioMB.idModalidade}" required="true" requiredMessage="É obrigatório indicar a modalidade.">
                                <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                <f:selectItems value="#{addEditAuxilioMB.listaModalidades}"/>
                            </p:selectOneMenu>
                            <p:message for="modalidade" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Instituição" />
                            <p:selectOneMenu value="#{addEditAuxilioMB.idInstituicaoSelecionada}" required="true" requiredMessage="É obrigatório indicar o centro de despesas.">
                                <f:selectItems value="#{addEditAuxilioMB.listaInstituicoes}"/>
                                <p:ajax update="comboUnidade treeCentrosDesp" listener="#{addEditAuxilioMB.criarNodesArvore()}"/>
                            </p:selectOneMenu>
                            <h:outputText value="" />
                            
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Unidade" />
                            <p:selectOneMenu id="comboUnidade" value="#{addEditAuxilioMB.idUnidadeSelecionada}" required="true" requiredMessage="É obrigatório indicar o centro de despesas.">
                                <f:selectItems value="#{addEditAuxilioMB.listaUnidades}"/>
                                <p:ajax update="treeCentrosDesp" listener="#{addEditAuxilioMB.criarNodesArvore()}"/>
                            </p:selectOneMenu>
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Centro de Despesa" />
                            <p:layout style="height:150px">
                                <p:layoutUnit position="center">
                                    <h:panelGrid id="catalogContent" style="width: 100%;">
                                        <p:tree id="treeCentrosDesp" value="#{addEditAuxilioMB.rootNode}" var="node" selectionMode="single" selection="#{addEditAuxilioMB.selectedNode}" style="width:95%" dynamic="true">
                                            <p:treeNode>
                                                <h:outputText value="#{node}"/>
                                            </p:treeNode>
                                        </p:tree>
                                    </h:panelGrid>
                                </p:layoutUnit>
                            </p:layout>
                            <p:message for="treeCentrosDesp" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Programas Especiais de Financiamento" />
                            <p:selectOneMenu value="#{addEditAuxilioMB.auxilio.fkProgramaEspecialFinanciamento}" required="false" converter="programaEspecialConverter" id="programaEspec">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{addEditAuxilioMB.listaProgramasEspeciaisFinanciamento}" var="pe" itemLabel="#{pe.nome}" itemValue="#{pe}"/>
                            </p:selectOneMenu>
                            <h:outputText value="" />

                        </h:panelGrid>

                        <h:panelGrid columns="8">

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Início Auxílio" />
                            <p:calendar id="dataInicial" pattern="dd/MM/yyyy" required="true" value="#{addEditAuxilioMB.auxilio.dataInicial}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <p:message for="dataInicial" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Término Auxílio" />
                            <p:calendar id="dataFinal" pattern="dd/MM/yyyy" required="true" value="#{addEditAuxilioMB.auxilio.dataFinal}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <p:message for="dataFinal" display="icon"/>

                        </h:panelGrid>

                        <h:panelGrid columns="4">
                            <h:outputText value="Observações: " />
                            <p:inputTextarea style="width:300px;" id="observacao" value="#{addEditAuxilioMB.auxilio.observacoes}" required="false" requiredMessage="#{label.general_Observation_Required}" effectDuration="200" autoResize="true" maxHeight="20"/>
                            <p:message for="observacao" display="icon"/>
                        </h:panelGrid>
</p:fieldset>
                        <br/>
                        <p:messages id="erroInfoProjeto"/>
                        </p:scrollPanel>

                        <p:commandButton value="#{label.general_Save}"
                                         action="#{addEditAuxilioMB.gravarAuxilio(false, false, false)}"
                                         update="#{renderizeOnComplete}"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('editAdicionaAuxilio').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>
    <p:dialog widgetVar="estenderDatasProjetoDialog" width="500" modal="true" header="Conflito de período" resizable="false">
        <h:form>
            <p:messages for="erroDatasProjeto" autoUpdate="true" />
            <h:outputText value="Deseja modificar a(s) data(s) do projeto?"/>
            <h:panelGrid columns="2">
                <p:commandButton id="botaoConfirmaMudancaDataFinalProjeto" value="Sim"
                                 actionListener="#{addEditAuxilioMB.gravarAuxilio(true, false, false)}"
                                 update="#{renderizeOnComplete}"/>
                <p:commandButton value="Não"
                                 onclick="PF('estenderDatasProjetoDialog').hide();return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog widgetVar="mudarCentroDespesasDialog" width="500" modal="true" header="Mudança de Centro de Despesas" resizable="false">
        <h:form>
            <h:outputText value="O Centro de Despesas foi modificado. Como deseja proceder?"/>
            <h:panelGrid columns="3">
                <p:commandButton id="botaoConfirmaMudancaCentroDespesasAuxilio" value="Modificar apenas auxílio"
                                 actionListener="#{addEditAuxilioMB.gravarAuxilio(false, true, false)}"
                                 update="#{renderizeOnComplete}"/>
                <p:commandButton id="botaoConfirmaMudancaCentroDespesasAuxilioAlineas" value="Modificar auxílio e alíneas"
                                 actionListener="#{addEditAuxilioMB.gravarAuxilio(false, true, true)}"
                                 update="#{renderizeOnComplete}"/>
                <p:commandButton value="Cancelar"
                                 onclick="PF('mudarCentroDespesasDialog').hide();return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
            <ui:include src="addEditContaCorrenteDialog.xhtml">
                <ui:param name="renderizeOnComplete" value=":formAddEditAuxilio:dadosContaCorrente :formAddEditAuxilio:contaCorrente"/>
            </ui:include>
                </p:panel>
</ui:composition>