<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">

                <p:tabView>
                    <p:tab title="Configuração de E-mail">
                        <p:dataTable var="config" value="#{configuracaoMB.listaConfiguracoes}" id="tabela" rendered="#{configuracaoMB.acessaConfig}" editable="true">

                            <f:facet name="header">
                                <h:outputText value="Configuração" />
                            </f:facet>

                            <p:column headerText="Nome">
                                <h:outputText id="nome" value="#{config.nome}" />
                                <p:tooltip for="nome" value="#{config.descricao}"/>
                            </p:column>

                            <p:column headerText="Valor">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{config.valor}" />
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{config.valor}" style="width:100%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Ações" style="width:50px">
                                <p:rowEditor />
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="3"/>
                                    <p:column>
                                        <p:commandButton  value="Salvar Alterações" actionListener="#{configuracaoMB.salvarConfigMail}" update="tabela"/>
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>

                        </p:dataTable>
                    </p:tab>

                    <p:tab title="Envio de Notificações" id="tab2">
                        <p:panel>

                            <p:panel header="Notificações de Prestação de Contas e Relatórios Científicos">
                                <h:panelGrid columns="2">
                                    <h:outputText value="Digite os e-mails para envio de notificação:"/>
                                    <p:inputTextarea style="width:300px;height:100px;" effectDuration="400" value="#{configuracaoMB.notificacaoPR.valor}" />
                                </h:panelGrid>
                            </p:panel>

                            <p:panel header="Notificações de Cotações">
                                <h:panelGrid columns="2">
                                    <h:outputText value="Digite os e-mails para envio de notificação:"/>
                                    <p:inputTextarea style="width:300px;height:100px;" effectDuration="400" value="#{configuracaoMB.notificacaoCotacao.valor}"/>
                                </h:panelGrid>
                            </p:panel>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="3"/>
                                    <p:column>
                                        <p:commandButton  value="Salvar Alterações" actionListener="#{configuracaoMB.salvarConfigNotificacao}" update="tab2"/>
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>
                        </p:panel>
                    </p:tab>

                    <p:tab title="Configuração de Auditoria">
                        <p:dataTable var="config" value="#{configuracaoMB.listaConfiguracoesAuditoria}" id="tabela2" rendered="#{configuracaoMB.acessaConfig}" editable="true">

                            <f:facet name="header">
                                <h:outputText value="Configuração" />
                            </f:facet>

                            <p:column headerText="Nome">
                                <h:outputText id="nome" value="#{config.nome}" />
                                <p:tooltip for="nome" value="#{config.descricao}"/>
                            </p:column>

                            <p:column headerText="Valor">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:selectBooleanCheckbox value="#{config.valor}" disabled="true"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:selectBooleanCheckbox value="#{config.valor}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Ações" style="width:50px">
                                <p:rowEditor />
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="3"/>
                                    <p:column>
                                        <p:commandButton  value="Salvar Alterações" actionListener="#{configuracaoMB.salvarConfigAuditoria}" update="tabela2"/>
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>

                        </p:dataTable>
                    </p:tab>

                    <p:tab title="Configuração de Recibos de Despesas">
                        <h:panelGrid columns="2">
                            <f:facet name="header">
                                <h:outputText value="Configuração" />
                            </f:facet>
                        <h:outputText value="Corpo do recibo"/>
                        <p:inputTextarea style="width: 500px" rows="10" value="#{configuracaoMB.corpoTextoRecibo.valor}"/>
                        <p:commandButton  value="Salvar Alterações" actionListener="#{configuracaoMB.salvarConfigRecibo}"/>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="Configuração gerais">
                        <h:panelGrid columns="2">
                            <h:outputText value="Instituição"/>
                            <p:selectOneMenu value="#{configuracaoMB.idInstituicao}" id="listaInstituicoes">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{configuracaoMB.listaInstituicoes}"/>
                                <p:ajax event="valueChange" update="listaUnidades" listener="#{configuracaoMB.pesquisarUnidades()}"/>
                            </p:selectOneMenu>
                            <h:outputText value="Unidade"/>
                            <p:selectOneMenu value="#{configuracaoMB.unidadeDefault.valor}" id="listaUnidades">
                                <f:selectItems value="#{configuracaoMB.listaUnidades}" var="unid" itemLabel="#{unid.sigla}" itemValue="#{unid.sigla}"/>
                            </p:selectOneMenu>
                            <p:commandButton  value="Salvar Alterações" actionListener="#{configuracaoMB.salvarConfigUnidDefault}"/>
                        </h:panelGrid>
                    </p:tab>
                </p:tabView>

            </h:form>

        </ui:define>
    </ui:composition>
</html>