<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">

            <p:panel header="Informações do Projeto">
                <h:form id="form1">
                    <!-- TAB 1 ###################################-->
                    <p:panel header="Dados Básicos do Projeto" toggleable="true">
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="7">
                                <h:outputText value="Responsável:" />
                                <h:outputText value="#{infoProjetoMB.projeto.fkResponsavel}" id="responsavel"/>
                                <h:outputText value="" />
                                <p:separator/>
                                <h:outputText value="" />
                                <h:outputText value="" />
                                <h:outputText value="" />

                                <h:outputText value="Título do Projeto:" />
                                <p:panel style="width:400px;">
                                    <h:outputText value="#{infoProjetoMB.projeto.titulo}" id="projeto"/>
                                </p:panel>
                                <h:outputText value="" />
                                <p:separator/>
                                <h:outputText value="Departamento:" />
                                <h:outputText value="#{infoProjetoMB.projeto.fkDepartamento.sigla}" id="departamento"/>
                                <h:outputText value="" />

                                <h:outputText value="Descrição:" />
                                <p:panel style="width:400px;">
                                    <h:outputText value="#{infoProjetoMB.projeto.descricao}" id="descricao"/>
                                </p:panel>
                                <h:outputText value="" />
                                <p:separator/>
                                <h:outputText value="Status:" />
                                <h:outputText value="#{infoProjetoMB.projeto.status}" id="status"/>
                                <h:outputText value="" />

                                <h:outputText value="Data de Início:" />
                                <h:outputText value="#{infoProjetoMB.projeto.dataInicial}" id="dataInicio">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                                <h:outputText value="" />
                                <p:separator/>
                                <h:outputText value="Data de Término:" />
                                <h:outputText value="#{infoProjetoMB.projeto.dataFinal}" id="dataFim">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                                <h:outputText value="" />
                                
                                <h:outputText value="Verba Aprovada R$:" />
                                <h:outputText value="#{infoProjetoMB.verbaAprovada(infoProjetoMB.projeto,1)}" id="verbaAprovadaRs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:tooltip for="verbaAprovadaRs" value="Soma dos valores em Reais aprovados em todos os auxílios"/>
                                <p:separator/>
                                <h:outputText value="Verba Aprovada U$:" />
                                <h:outputText value="#{infoProjetoMB.verbaAprovada(infoProjetoMB.projeto,2)}" id="verbaAprovadaUs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:tooltip for="verbaAprovadaUs" value="Soma dos valores em Dólares aprovados em todos os auxílios"/>
                                
                                <h:outputText value="Despesa Total R$:" />
                                <h:outputText value="#{infoProjetoMB.verbaGasta(infoProjetoMB.projeto,1)}" id="despesaRs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:tooltip for="despesaRs" value="Soma de todas as despesas em Reais efetuadas em todos os auxílios"/>
                                <p:separator/>
                                <h:outputText value="Despesa Total U$:" />
                                <h:outputText value="#{infoProjetoMB.verbaGasta(infoProjetoMB.projeto,2)}" id="despesaUs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:tooltip for="despesaUs" value="Soma de todas as despesas em Dólares efetuadas em todos os auxílios"/>

                                <h:outputText value="Verba Disponível R$:" />
                                <h:outputText value="#{infoProjetoMB.verbaDisponivel(infoProjetoMB.projeto,1)}" id="verbaDisponivelRs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:tooltip for="verbaDisponivelRs" value="Soma de todos os valores em Reais disponíveis em auxílio: verba aprovada - despesas "/>
                                <p:separator/>
                                <h:outputText value="Verba Disponível U$:" />
                                <h:outputText value="#{infoProjetoMB.verbaDisponivel(infoProjetoMB.projeto,2)}" id="verbaDisponivelUs">
                                    <f:convertNumber pattern="###,###,##0.00"/>
                                </h:outputText>
                                <p:tooltip for="verbaDisponivelUs" value="Soma de todos os valores em Dólares disponíveis em auxílio: verba aprovada - despesas "/>

                            </h:panelGrid>

                            <h:panelGrid columns="4">
                                <p:commandLink value="Alterar Status" action="#{infoProjetoMB.ChangeStatusProjeto}" update=":form1, :form2"/>
                                <p:selectOneMenu id="statusProjeto" value="#{infoProjetoMB.statusProjeto}" required="true" rendered="#{infoProjetoMB.podeAlterarStatus}">
                                    <f:selectItems value="#{infoProjetoMB.listaStatusProjeto}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                                </p:selectOneMenu>
                                <p:commandButton id="statusProjetoButton" value="Alterar" action="#{infoProjetoMB.alterarStatusProjeto}" update=":form1" rendered="#{infoProjetoMB.podeAlterarStatus}"/>
                                <p:messages id="statusError"/>
                            </h:panelGrid>

                        </h:panelGrid>
                    </p:panel>
                </h:form>
                <h:form id="form2">
                    <p:panel header="Participantes do Projeto" toggleable="true" collapsed="true">
                        <p:dataTable id="participante" value="#{infoProjetoMB.listapessoasProjeto}" var="participante"
                             emptyMessage="#{label.general_NoResults}">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Name}" />
                                </f:facet>
                                <h:outputText value="#{participante.fkPessoa.nome}"/>
                            </p:column>
                            <p:column styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data de Associação" />
                                </f:facet>
                                <h:outputText value="#{participante.dataAssociacao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tipo de Participação" />
                                </f:facet>
                                <h:outputText value="#{participante.tipo}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>
                                <p:commandLink id="removePart"  oncomplete="PF('deleteParticipantePopup').show();" disabled="#{!infoProjetoMB.podeRemoverParticipante(participante)}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemExcluirParticipante}" style="border:0" />
                                    <f:setPropertyActionListener value="#{participante}" target="#{infoProjetoMB.participanteProjeto}" />
                                </p:commandLink>
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="1"/>
                                    <p:column>
                                        <p:commandLink id="linkPart" action="#{infoProjetoMB.prepareAdicionarParticipante}" oncomplete="PF('addParticipante').show();" update=":addParticipanteGrid">
                                            <h:graphicImage value="#{infoProjetoMB.imagemCriarRegistro}" style="border:0"/>                                            
                                        </p:commandLink>
                                        <p:tooltip for="linkPart" value="Adicionar Participante" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>
                            
                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Auxílios" toggleable="true" collapsed="true">

                        <p:dataTable id="tabela" value="#{infoProjetoMB.projeto.auxilios}" var="n" rows="10" paginator="true" paginatorPosition="bottom" rendered="true"
                             emptyMessage="#{label.general_NoResults}">

                            <p:column  style="width:20px">
                                <p:rowToggler/>
                            </p:column>
                            
                            <p:column sortBy="#{n.fkResponsavel.nome}">
                                <f:facet name="header">
                                    <h:outputText value="Responsável" />
                                </f:facet>
                                <h:outputText value="#{n.fkResponsavel.nome}"/>
                            </p:column>

                            <p:column sortBy="#{n.nomeIdentificacao}">
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Titulo}" />
                                </f:facet>
                                <h:outputText value="#{n.nomeIdentificacao}"/>
                            </p:column>

                            <p:column sortBy="#{n.numeroMercurio}">
                                <f:facet name="header">
                                    <h:outputText value="Nº Mercúrio" />
                                </f:facet>
                                <h:outputText value="#{n.numeroMercurio}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Financiador" />
                                </f:facet>
                                <h:outputText value="#{n.fkModalidade.fkTipoAuxilio.fkFinanciador.sigla}"/>
                            </p:column>

                            <p:column sortBy="#{n.protocoloFinanciador}">
                                <f:facet name="header">
                                    <h:outputText value="Proc. Entidade Financiadora" />
                                </f:facet>
                                <h:outputText value="#{n.protocoloFinanciador}"/>
                            </p:column>

                            <p:column sortBy="#{n.dataInicial}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data Início" />
                                </f:facet>
                                <h:outputText value="#{n.dataInicial}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column sortBy="#{n.dataFinal}" styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Data Fim" />
                                </f:facet>
                                <h:outputText value="#{n.dataFinal}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column sortBy="#{n.fkCentroDespesa}">
                                <f:facet name="header">
                                    <h:outputText value="Centro Despesa" />
                                </f:facet>
                                <h:outputText value="#{n.fkCentroDespesa}"/>
                            </p:column>

                            <p:column sortBy="#{n.status}">
                                <f:facet name="header">
                                    <h:outputText value="Status" />
                                </f:facet>
                                <h:outputText value="#{n.status}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>
                                <h:commandLink id="verAux" action="#{infoProjetoMB.verAuxilio(n)}">
                                    <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                                </h:commandLink>
                                <p:tooltip for="verAux" value="Ver Auxilio" />

                                <p:commandLink id="addAnexo" oncomplete="PF('addArquivo').show();" update=":addDialogArquivoGrid" action="#{infoProjetoMB.prepareEditar}" disabled="#{!infoProjetoMB.podeEditar(n)}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemArquivoAnexo}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.auxilio}" />
                                </p:commandLink>
                                <p:tooltip for="addAnexo" value="Inserir arquivo anexo" />

                                <p:commandLink id="remanLink" oncomplete="PF('editRemanejaAuxilio').show();" update=":editRemanejaAuxilioGrid" action="#{infoProjetoMB.prepareRemanejar}" disabled="#{!infoProjetoMB.podeRemanejar(n)}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemRemanejarAuxilio}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.auxilio}" />
                                </p:commandLink>
                                <p:tooltip for="remanLink" value="Remanejar Auxílio" />

                                <p:commandLink id="editlink" oncomplete="PF('editAdicionaAuxilio').show();" update=":editAdicionaAuxilioGrid" actionListener="#{addEditAuxilioMB.prepareEditar(n)}" disabled="#{!infoProjetoMB.podeEditar(n)}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemEditarRegistro}" style="border:0" />
                                </p:commandLink>
                                <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelink" oncomplete="PF('deletePopup').show();" disabled="#{!infoProjetoMB.podeExcluirRegistro(n)}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemExcluirRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.auxilio}" />
                                </p:commandLink>
                                <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                            </p:column>

                            <!--*************************************-->
                            <!--Inicio da Expansão-->
                            <!--*************************************-->
                            <p:rowExpansion>
                                <p:dataTable id="subTabela" value="#{n.alineas}"  var="m"
                             emptyMessage="#{label.general_NoResults}">
                                    <f:facet name="header">
                                        <h:outputText value="Alíneas" />
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Descrição" />
                                        </f:facet>
                                        <h:outputText value="#{m.fkCategoriaAlinea.nome}" id="nome" />
                                        <f:facet name="footer">
                                            <h:panelGrid>
                                                <h:outputText value="Valor Total" id="nomeFooter" />
                                            </h:panelGrid>
                                        </f:facet>
                                    </p:column>

                                    <p:column styleClass="colunaMostrarValorFinanceiro">
                                        <f:facet name="header">
                                            <h:outputText value="Valor Aprovado R$" />
                                        </f:facet>
                                        <h:outputText value="#{m.moeda==1?m.verbaAprovada:0}" id="valorAprovRs">
                                            <f:convertNumber pattern="###,###,##0.00"/>
                                        </h:outputText>
                                        <f:facet name="footer">
                                            <h:panelGrid>
                                                <h:outputText value="#{infoProjetoMB.somaVerbaAprovada(n,1)}" id="valorFooterAprovRs">
                                                    <f:convertNumber pattern="###,###,##0.00"/>
                                                </h:outputText>
                                            </h:panelGrid>
                                        </f:facet>
                                    </p:column>
                                    <p:column styleClass="colunaMostrarValorFinanceiro">
                                        <f:facet name="header">
                                            <h:outputText value="Valor Aprovado U$" />
                                        </f:facet>
                                        <h:outputText value="#{m.moeda==2?m.verbaAprovada:0}" id="valorAprovUs">
                                            <f:convertNumber pattern="###,###,##0.00"/>
                                        </h:outputText>
                                        <f:facet name="footer">
                                            <h:panelGrid>
                                                <h:outputText value="#{infoProjetoMB.somaVerbaAprovada(n,2)}" id="valorFooterAprovUs">
                                                    <f:convertNumber pattern="###,###,##0.00"/>
                                                </h:outputText>
                                            </h:panelGrid>
                                        </f:facet>
                                    </p:column>

                                </p:dataTable>

                            </p:rowExpansion>
                            <!--*************************************-->
                            <!--Fim da Expansão-->
                            <!--*************************************-->
                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="1"/>
                                    <p:column>
                                        <p:commandLink id="addlink" oncomplete="PF('editAdicionaAuxilio').show();" update=":editAdicionaAuxilioGrid" action="#{addEditAuxilioMB.prepareAdicionarProjeto}" immediate="true" disabled="#{!infoProjetoMB.podeCriarAuxilio}">
                                            <h:graphicImage value="#{infoProjetoMB.imagemCriarRegistro}" style="border:0"/>
                                            <f:setPropertyActionListener value="#{infoProjetoMB.projeto}" target="#{addEditAuxilioMB.projeto}"/>
                                        </p:commandLink>
                                        <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>

                        </p:dataTable>
                    </p:panel>
                </h:form>

                <!--*************************************-->
                <!--Atividades-->
                <!--*************************************-->
                <h:form id="form3" rendered="#{infoProjetoMB.exibeAtividade}">
                    <p:panel header="Atividades" toggleable="true" collapsed="true">
                        <p:dataTable id="tabelaAtividade" value="#{infoProjetoMB.listaAtividade}" var="n" rows="10" paginatorPosition="bottom" paginator="true" rendered="true"
                             emptyMessage="#{label.general_NoResults}">
                            <f:facet name="header">
                                <h:outputText value="Informações das Atividades" />
                            </f:facet>

                            <p:column  style="width:20px">
                                <p:rowToggler/>
                            </p:column>

                            <p:column sortBy="#{n.titulo}">
                                <f:facet name="header">
                                    <h:outputText value="Título" />
                                </f:facet>
                                <h:outputText value="#{n.titulo}" />
                            </p:column>

                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value="Descrição" />
                                </f:facet>
                                <h:outputText value="#{n.descricao}" />
                            </p:column>

                            <p:column style="width:100px">
                                <f:facet name="header">
                                    <h:outputText value="Hora Inicial" />
                                </f:facet>
                                <h:outputText value="#{n.horaInicial}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>
                                </h:outputText>
                            </p:column>

                            <p:column style="width:100px">
                                <f:facet name="header">
                                    <h:outputText value="Hora Final" />
                                </f:facet>
                                <h:outputText value="#{n.horaFinal}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>
                                </h:outputText>
                            </p:column>

                            <!--*************************************-->
                            <!--Inicio da Expansão-->
                            <!--*************************************-->
                            <p:rowExpansion>
                                <p:dataTable id="subTabelaAtividade" value="#{n.pessoasInscritas}"  var="p"
                             emptyMessage="#{label.general_NoResults}">
                                    <f:facet name="header">
                                        <h:outputText value="Inscritos" />
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Usuário" />
                                        </f:facet>
                                        <h:outputText value="#{p.username}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{label.general_Name}" />
                                        </f:facet>
                                        <h:outputText value="#{p.nome}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{label.general_Action}" />
                                        </f:facet>

                                        <p:commandLink id="removePartAtividade" oncomplete="PF('deleteParticipanteAtividade').show();" disabled="false">
                                            <h:graphicImage value="#{infoProjetoMB.imagemExcluirInscricao}" style="border:0" />
                                            <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.atividade}" />
                                            <f:setPropertyActionListener value="#{p}" target="#{infoProjetoMB.participanteAtividade}" />
                                        </p:commandLink>
                                    </p:column>

                                </p:dataTable>
                            </p:rowExpansion>
                            <!--*************************************-->
                            <!--Fim da Expansão-->
                            <!--*************************************-->

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <p:commandLink id="inscricaoAtividade" oncomplete="PF('addInscricaoAtividade').show();" update=":addInscricaoGridAtividade">
                                    <h:graphicImage value="#{infoProjetoMB.imagemInscricao}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.atividade}" />
                                </p:commandLink>
                                <p:tooltip for="inscricaoAtividade" value="Adicionar Pessoa" />

                                <p:commandLink id="editlinkAtividade" oncomplete="PF('addEditPopupAtividade').show();" update=":addEditPanelAtividade" action="#{infoProjetoMB.prepareEditarAtividade}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemEditarRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.atividade}" />
                                </p:commandLink>
                                <p:tooltip for="editlinkAtividade" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelinkAtividade" oncomplete="PF('deletePopupAtividade').show();" disabled="#{!infoProjetoMB.podeExcluirRegistro}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemExcluirRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.atividade}" />
                                </p:commandLink>
                                <p:tooltip for="deletelinkAtividade" value="#{label.general_Delete_Tip}" />
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="1"/>
                                    <p:column>
                                        <p:commandLink id="addlinkAtividade" oncomplete="PF('addEditPopupAtividade').show();" update=":addEditPanelAtividade" action="#{infoProjetoMB.prepareAdicionar}" immediate="true">
                                            <h:graphicImage value="#{infoProjetoMB.imagemCriarRegistro}" style="border:0"/>
                                        </p:commandLink>
                                        <p:tooltip for="addlinkAtividade" value="#{label.general_Add_Tip}" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <!--*************************************-->
                <!--Cotações-->
                <!--*************************************-->
                <h:form id="form4" rendered="false">
                    <p:panel header="Cotações" toggleable="true" collapsed="true">
                        <p:dataTable id="tabelaCotacoes" value="#{infoProjetoMB.projeto.cotacoes}" var="n" rows="10" paginatorPosition="bottom" paginator="true" rendered="true"
                             emptyMessage="#{label.general_NoResults}">
                            <f:facet name="header">
                                <h:outputText value="Informações das Cotações" />
                            </f:facet>

                            <p:column  style="width:20px">
                                <p:rowToggler/>
                            </p:column>

                            <p:column styleClass="colunaMostrarData" sortBy="#{n.dataSolicitada}">
                                <f:facet name="header">
                                    <h:outputText value="Data Solicitada" />
                                </f:facet>
                                <h:outputText value="#{n.dataSolicitada}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column sortBy="#{n.status}">
                                <f:facet name="header">
                                    <h:outputText value="Status" />
                                </f:facet>
                                <h:outputText value="#{n.status}" />
                            </p:column>

                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value="Observações" />
                                </f:facet>
                                <h:outputText value="#{n.observacoes}" />
                            </p:column>

                            <!--*************************************-->
                            <!--Inicio da Expansão-->
                            <!--*************************************-->
                            <p:rowExpansion>
                                <p:dataTable id="subTabelaAtividade" value="#{n.itens}"  var="item"
                             emptyMessage="#{label.general_NoResults}">
                                    <f:facet name="header">
                                        <h:outputText value="Itens" />
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Quantidade" />
                                        </f:facet>
                                        <h:outputText value="#{item.quantidade}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Status" />
                                        </f:facet>
                                        <h:outputText value="#{item.status}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Unidade" />
                                        </f:facet>
                                        <h:outputText value="#{item.unidade}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Observação" />
                                        </f:facet>
                                        <h:outputText value="#{item.observacao}"/>
                                    </p:column>

                                </p:dataTable>
                            </p:rowExpansion>
                            <!--*************************************-->
                            <!--Fim da Expansão-->
                            <!--*************************************-->

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>

                                <h:commandLink id="verCotacao" action="#{infoProjetoMB.detalharCotacao}">
                                    <h:graphicImage value="/images/icons/ativar.png" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.cotacao}" />
                                </h:commandLink>
                                <p:tooltip for="verCotacao" value="Ver Cotação" />

                                <p:commandLink id="editlinkCotacao" oncomplete="PF('addEditPopupCotacao').show();" update=":addEditPanelCotacao" action="#{infoProjetoMB.prepareEditarCotacao}" disabled="#{!infoProjetoMB.podeEditarCotacao(n)}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemEditarCotacao}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.cotacao}" />
                                </p:commandLink>
                                <p:tooltip for="editlinkCotacao" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelinkCotacao" oncomplete="PF('deletePopupCotacao').show();" disabled="#{!infoProjetoMB.podeExcluirRegistro}">
                                    <h:graphicImage value="#{infoProjetoMB.imagemExcluirRegistro}" style="border:0" />
                                    <f:setPropertyActionListener value="#{n}" target="#{infoProjetoMB.cotacao}" />
                                </p:commandLink>
                                <p:tooltip for="deletelinkCotacao" value="#{label.general_Delete_Tip}" />
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="1"/>
                                    <p:column>
                                        <p:commandLink id="addlinkCotacao" oncomplete="PF('addEditPopupCotacao').show();" update=":addEditPanelCotacao" action="#{infoProjetoMB.prepareAdicionarCotacao}" immediate="true">
                                            <h:graphicImage value="#{infoProjetoMB.imagemCriarRegistro}" style="border:0"/>
                                        </p:commandLink>
                                        <p:tooltip for="addlinkCotacao" value="#{label.general_Add_Tip}" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

            </p:panel>


            <!-- ################################### -->
            <!-- bloco de edição -->
            <ui:include src="include/addEditAuxilioDialog.xhtml">
                <ui:param name="renderizeOnComplete" value=":form2:tabela, :editAdicionaAuxilioGrid, :form1"/>
            </ui:include>
            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="editRemanejaAuxilio"
                      width="450"
                      modal="true"
                      header="Remanejar Auxílio"                      
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="editRemanejaAuxilioGrid">
                    <h:form>
                        <h:panelGrid columns="3">

                            <h:outputText value="Auxílio:" />
                            <p:inputText value="#{infoProjetoMB.auxilio.nomeIdentificacao}" size="40" disabled="true"/>
                            <h:outputText value=""/>

                            <h:outputText value="Verba Total Aprovada:" />
                            <p:inputText value="#{infoProjetoMB.somaVerbaAprovada(infoProjetoMB.auxilio,1)}" size="40" disabled="true"/>
                            <h:outputText value=""/>

                            <h:outputText value="Projeto Recebedor:" />
                            <p:selectOneMenu value="#{infoProjetoMB.projetoRecebedor}"
                                             required="true" converter="projetoConverter">
                                <f:selectItems value="#{infoProjetoMB.listaProjetos}" var="f" itemLabel="#{f.titulo}" itemValue="#{f}"/>
                            </p:selectOneMenu>
                            <h:outputText value="" />

                        </h:panelGrid>
                        <p:messages id="remanejarErro"/>

                        <p:commandButton value="#{label.general_Save}"
                                         action="#{infoProjetoMB.remanejarAuxilio}"
                                         update=":form2:tabela, :editRemanejaAuxilioGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('editRemanejaAuxilio').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addParticipante"
                      width="450"
                      modal="true"
                      header="Participantes Projeto"                      
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addParticipanteGrid">
                    <h:form>
                        <h:panelGrid columns="4">

                            <h:outputText value="Participante:" />
                            <h:selectOneMenu value="#{infoProjetoMB.participanteProjeto.fkPessoa}"
                                             required="true" converter="pessoaConverter">
                                <f:selectItems value="#{infoProjetoMB.listaPessoas}"/>
                            </h:selectOneMenu>
                            <p:column>
                                <p:commandLink id="addlink" update=":addEditPanel" actionListener="#{addEditPessoaMB.prepareAdicionar}">
                                    <h:graphicImage value="#{pessoaMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                            <p:commandLink id="editlink" update=":addEditPanel" action="#{addEditPessoaMB.prepareEditar(infoProjetoMB.participanteProjeto.fkPessoa)}">
                                <h:graphicImage value="#{pessoaMB.imagemEditarRegistro}" style="border:0" />
                            </p:commandLink>

                            <h:outputText value="Data Associação: " />
                            <p:calendar pattern="dd/MM/yyyy" required="false" value="#{infoProjetoMB.participanteProjeto.dataAssociacao}" navigator="true" locale="pt_BR" onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <h:outputText value="" />
                            <h:outputText value="" />

                            <h:outputText value="Tipo de Participação:" />
                            <h:selectOneMenu value="#{infoProjetoMB.participanteProjeto.tipo}"
                                             required="true">
                                <f:selectItems value="#{infoProjetoMB.listaTipoParticipacao}"/>
                            </h:selectOneMenu>
                            <h:outputText value="" />
                            <h:outputText value="" />

                        </h:panelGrid>
                        <h:panelGrid columns="1">
                            <p:messages id="participanteError"/>
                        </h:panelGrid>
                        <p:commandButton value="Adicionar"
                                         action="#{infoProjetoMB.adicionaParticipante}"
                                         update=":form2:participante, :addParticipanteGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addParticipante').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopupAtividade"
                      width="350"
                      modal="true"
                      header="#{(infoProjetoMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"                      
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanelAtividade">
                    <h:form>
                        <h:panelGrid columns="3">
                            <h:outputText value="Título" />
                            <p:inputText value="#{infoProjetoMB.atividade.titulo}" id="titulo" required="true" requiredMessage="#{label.general_Name_Required}."/>
                            <p:message for="titulo" display="icon"/>

                            <h:outputText value="Descrição" />
                            <p:inputText value="#{infoProjetoMB.atividade.descricao}" id="desc"/>
                            <p:message for="desc" display="icon"/>

                            <h:outputText value="Hora Inicial" />
                            <p:calendar id="horaI" pattern="dd/MM/yyyy" required="true" value="#{infoProjetoMB.atividade.horaInicial}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="horaI" display="icon"/>

                            <h:outputText value="Hora Final" />
                            <p:calendar id="horaF" pattern="dd/MM/yyyy" required="true" value="#{infoProjetoMB.atividade.horaFinal}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="horaF" display="icon"/>                            
                        </h:panelGrid>                        
                        <p:messages id="erroInfoPAtividade"/>
                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{infoProjetoMB.gravarAtividade}"
                                         update=":form3:tabelaAtividade, :addEditPanelAtividade"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopupAtividade').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addInscricaoAtividade"
                      width="450"
                      modal="true"
                      header="Inscrever em Atividade"                      
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addInscricaoGridAtividade">
                    <h:form>
                        <h:panelGrid columns="1">
                            <p:panel header="#{label.general_Find}">
                                <h:panelGrid columns="2">
                                    <h:outputText value="#{label.general_Keyword}" />
                                    <p:inputText value="#{infoProjetoMB.pesquisa}">
                                        <p:ajax event="keyup" update="tabelaPartAtiv" listener="#{infoProjetoMB.pesquisar}" />
                                    </p:inputText>
                                </h:panelGrid>
                            </p:panel>
                            <p:dataTable id="tabelaPartAtiv" var="p" value="#{infoProjetoMB.listaPessoas}" rows="10" selection="#{infoProjetoMB.pessoasAtividade}" rowKey="#{p.id}"
                             emptyMessage="#{label.general_NoResults}">
                                <p:column selectionMode="multiple" />

                                <p:column headerText="Username">
                                    <h:outputText value="#{p.username}" />
                                </p:column>

                                <p:column headerText="Nome">
                                    <h:outputText value="#{p.nome}" />
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <h:panelGrid columns="1">
                            <p:messages id="participanteAtividade"/>
                        </h:panelGrid>

                        <p:commandButton value="Adicionar"
                                         action="#{infoProjetoMB.adicionaParticipanteAtividade}"
                                         update=":form3:tabelaAtividade, :addInscricaoGridAtividade"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addInscricaoAtividade').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addArquivo"
                      width="450"
                      modal="true"
                      header="Anexar Arquivo em Auxílio"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addDialogArquivoGrid">
                    <h:form id="formAddArquivos">
                        <h:panelGrid columns="1">
                            <p:dataTable id="subTabelaArquivos" value="#{infoProjetoMB.auxilio.arquivosAnexos}"  var="arquivo"
                             emptyMessage="#{label.general_NoResults}">
                                <f:facet name="header">
                                    <h:outputText value="Arquivos Anexos" />
                                </f:facet>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nome" />
                                    </f:facet>
                                    <h:outputText value="#{arquivo.nome}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tipo de Documento" />
                                    </f:facet>
                                    <h:outputText value="#{arquivo.descricao}" />
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{label.general_Action}" />
                                    </f:facet>
                                    <h:commandLink title="#{arquivo.nome}">
                                        <p:graphicImage value="/images/icons/down.png" style="border:0"/>
                                        <p:fileDownload value="#{infoProjetoMB.downloadArquivoAnexoAuxilio(arquivo)}" />
                                    </h:commandLink>

                                    <p:commandLink oncomplete="PF('deletePopupArquivo').show();" disabled="false">
                                        <h:graphicImage value="#{infoProjetoMB.imagemExcluirArquivo}" style="border:0" />                                        
                                        <f:setPropertyActionListener value="#{arquivo}" target="#{infoProjetoMB.arquivoAnexo}" />
                                    </p:commandLink>                                    
                                </p:column>

                            </p:dataTable>
                        </h:panelGrid>                        
                        <h:panelGrid columns="1">
                            <h:outputText value="Tipo de Arquivo:" />
                            <p:selectOneMenu value="#{infoProjetoMB.tipoArquivoUpload}"
                                             required="true">
                                <f:selectItems value="#{infoProjetoMB.listaTipoArquivo}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                            </p:selectOneMenu>

                            <h:panelGrid columns="2" id="panelUploadArquivo">
                                <p:fileUpload id="uploadDeArquivo" auto="true" fileUploadListener="#{infoProjetoMB.handleFileUpload}" multiple="false" label="Anexar Arquivo" description="Anexos" update="@parent"/>
                                <p:message for="uploadDeArquivo" display="icon"/>
                            </h:panelGrid>
                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <p:commandButton value="Adicionar"
                                             action="#{infoProjetoMB.atualizarAuxilioUpload}"
                                             update=":formAddArquivos:subTabelaArquivos"/>

                            <p:commandButton value="#{label.general_Cancel}"
                                             onclick="PF('addArquivo').hide();return false;" />
                        </h:panelGrid>

                    </h:form>
                </h:panelGrid>
            </p:dialog>


            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopupCotacao"
                      width="430"
                      modal="true"
                      header="#{(infoProjetoMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanelCotacao">
                    <h:form>
                        <h:panelGrid columns="3">
                            <h:outputText value="Observações:" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="40" id="titulo" value="#{infoProjetoMB.cotacao.observacoes}" required="true" requiredMessage="#{label.general_Titulo_Required}"/>
                            <p:message for="titulo" display="icon"/>

                            <h:outputText value="Data Solicitada:" />
                            <p:calendar id="dataS" pattern="dd/MM/yyyy" required="true" value="#{infoProjetoMB.cotacao.dataSolicitada}" disabled="true" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}." onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <p:message for="dataS" display="icon"/>

                            <h:outputText value="Status:" />
                            <h:selectOneMenu value="#{infoProjetoMB.cotacao.status}"
                                             disabled="true">
                                <f:selectItems value="#{infoProjetoMB.listaStatusCotacao}"/>
                            </h:selectOneMenu>

                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{infoProjetoMB.gravarCotacao}"
                                         update=":form4:tabelaCotacoes, :addEditPanelCotacao"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopupCotacao').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupCotacao" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoProjetoMB.excluirCotacao}"
                                         update=":form4:tabelaCotacoes"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupCotacao').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupAtividade" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoProjetoMB.excluirAtividade}"
                                         update=":form3:tabelaAtividade"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupAtividade').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoProjetoMB.excluirAuxilio}"
                                         update=":form2:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupArquivo" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoProjetoMB.excluirArquivoUpload}"
                                         update=":addDialogArquivoGrid, :formAddArquivos:subTabelaArquivos"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deleteParticipantePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2" id="deleteParticipanteGrid">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoProjetoMB.removerParticipante}"
                                         update=":form2:participante @parent"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deleteParticipantePopup').hide();return false;" />
                        <p:messages id="erroExcluirParticipante" showSummary="false" showDetail="true"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deleteParticipanteAtividade" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{infoProjetoMB.removerInscritoAtividade}"
                                         update=":form3:tabelaAtividade"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deleteParticipanteAtividade').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            
        <ui:include src="include/addEditPessoaDialog.xhtml">
            <ui:param name="renderizeOnComplete" value=":addParticipanteGrid"/>
        </ui:include>

        </ui:define>
    </ui:composition>
</html>