<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">

                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="5">
                            <h:outputText value="#{label.general_Keyword}" />
                            <h:outputText value="Instituição" />
                            <h:outputText value="Unidade" />
                            <h:outputText value="Departamento" />
                            <h:outputText value="Grupo" />

                            <p:inputText value="#{pessoaMB.pesquisa}">
                                <p:ajax event="keyup" update="tabela" listener="#{pessoaMB.pesquisarUsuarios}" />
                            </p:inputText>

                            <p:selectOneMenu value="#{pessoaMB.instituicao}" converter="instituicaoConverter">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{pessoaMB.listaInstituicoes}" var="f" itemLabel="#{f.sigla}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="comboListaUnidades comboListaDepartamentos tabela" listener="#{pessoaMB.pesquisarUnidades}"/>
                            </p:selectOneMenu>

                            <p:selectOneMenu value="#{pessoaMB.unidade}" converter="unidadeConverter" id="comboListaUnidades">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{pessoaMB.listaUnidades}" var="f" itemLabel="#{f.sigla}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="comboListaDepartamentos tabela" listener="#{pessoaMB.pesquisarDepartamentos}"/>
                            </p:selectOneMenu>

                            <p:selectOneMenu value="#{pessoaMB.departamento}" converter="departamentoConverter" id="comboListaDepartamentos">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{pessoaMB.listaDepartamentos}" var="f" itemLabel="#{f.sigla}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{pessoaMB.pesquisarUsuarios}"/>
                            </p:selectOneMenu>

                            <p:selectOneMenu value="#{pessoaMB.papel}" converter="papelConverter" disabled="false">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{pessoaMB.listaPapeis}" var="f" itemLabel="#{f.nome}" itemValue="#{f}"/>
                                <p:ajax event="valueChange" update="tabela" listener="#{pessoaMB.pesquisarUsuarios}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:commandLink id="downloadlinkPdf" title="Download PDF">
                                <p:graphicImage value="/images/icons/application_pdf.png" style="border:0"/>
                                <p:fileDownload value="#{pessoaMB.downloadReportPdf()}" />
                            </h:commandLink>
                            <h:commandLink id="downloadlinkXls" title="Download XLS">
                                <p:graphicImage value="/images/icons/application_vnd.ms_excel.png" style="border:0"/>
                                <p:fileDownload value="#{pessoaMB.downloadReportXls()}" />
                            </h:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="tabela"
                             value="#{pessoaMB.listaPessoas}"
                             var="n"
                             rows="10"
                             paginatorPosition="bottom"
                             paginator="true"
                             rendered="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{pessoaMB.listaPessoas.size()} registros encontrados"
                             rowsPerPageTemplate="5,10,15"
                             emptyMessage="#{label.general_NoResults}">
                    <f:facet name="header">
                        <h:outputText value="Usuarios do sistema" />
                    </f:facet>

                    <p:column  style="width:20px">
                        <p:rowToggler/>
                    </p:column>

                    <p:column sortBy="#{n.username}">
                        <f:facet name="header">
                            <h:outputText value="Usuário" />
                        </f:facet>
                        <h:outputText value="#{n.username}" id="usuario" />
                    </p:column>

                    <p:column sortBy="#{n.nome}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Name}" />
                        </f:facet>
                        <h:outputText value="#{n.nome}" id="nome" />
                    </p:column>

                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="Grupo" />
                        </f:facet>
                        <p:dataList value="#{n.papeis}" var="item" itemType="disc">
                            <h:outputText value="#{item.nome}" />
                        </p:dataList>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Departamento" />
                        </f:facet>
                        <h:outputText value="#{n.fkDepartamento.sigla}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>

                        <p:commandLink id="detalharPessoa" action="#{pessoaMB.detalharPessoa(n)}">
                            <h:graphicImage value="/images/icons/detail.png" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="detalharPessoa" value="Detalhes da pessoa" />

                        <p:commandLink id="changePass" oncomplete="PF('addEditPassword').show();" update=":addEditPanelPassword" action="#{changePasswordPessoaMB.prepareEditar}" disabled="#{pessoaMB.podeEditarRegistro(n)}">
                            <h:graphicImage value="#{pessoaMB.imagemPassword}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{changePasswordPessoaMB.pessoa}" />
                        </p:commandLink>
                        <p:tooltip for="changePass" value="Alterar Senha" />

                        <p:commandLink id="editlink" update=":addEditPanel" action="#{addEditPessoaMB.prepareEditar(n)}" disabled="#{pessoaMB.podeEditarRegistro(n)}">
                            <h:graphicImage value="#{pessoaMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                        <p:commandLink id="deletelink" oncomplete="PF('deletePopup').show();" disabled="#{pessoaMB.podeExcluirRegistro(n)}">
                            <h:graphicImage value="#{pessoaMB.imagemExcluirRegistro}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{pessoaMB.pessoa}" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>

                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="5"/>
                            <p:column>
                                <p:commandLink id="addlink" update=":addEditPanel" action="#{addEditPessoaMB.prepareAdicionar}" disabled="#{pessoaMB.podeCriarRegistro()}">
                                    <h:graphicImage value="#{pessoaMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>

                    <p:rowExpansion>
                        <table>
                            <tbody class="ui-datatable ui-widget">
                                <tr>
                                    <td class="ui-state-default"><h:outputText value="CPF" /></td>
                                    <td class="ui-state-default"><h:outputText value="RG" /></td>
                                    <td class="ui-state-default"><h:outputText value="Passaporte" /></td>
                                    <td class="ui-state-default"><h:outputText value="Telefone" /></td>
                                    <td class="ui-state-default"><h:outputText value="Telefone celular" /></td>
                                    <td class="ui-state-default"><h:outputText value="Nome da mãe" /></td>
                                </tr>
                                <tr>
                                    <td><h:outputText value="#{n.cpf}" id="cpf" /></td>
                                    <td><h:outputText value="#{n.rg}" id="rg" /></td>
                                    <td><h:outputText value="#{n.passaporte}" id="passaporte" /></td>
                                    <td><h:outputText value="#{n.telefone}" id="telefone" /></td>
                                    <td><h:outputText value="#{n.telefoneCelular}" id="telefoneCelular" /></td>
                                    <td><h:outputText value="#{n.nomeMae}" id="nomeMae" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </p:rowExpansion>

                </p:dataTable>

            </h:form>


            <ui:include src="include/addEditPessoaDialog.xhtml">
                <ui:param name="renderizeOnComplete" value=":form1:tabela"/>
            </ui:include>
            
            <ui:include src="include/changePasswordPessoaDialog.xhtml">
                <ui:param name="renderizeOnComplete" value=":form1:tabela"/>
            </ui:include>



            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{pessoaMB.excluir}"
                                         update=":form1:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>
