<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">
                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:outputText value="#{label.general_Keyword}" />
                        <h:outputText value="Grupo de Fornecimento" />

                        <p:inputText value="#{produtosMB.pesquisa}">
                            <p:ajax event="keyup" update="tabela" listener="#{produtosMB.pesquisar}" />
                        </p:inputText>

                         <p:selectOneMenu value="#{produtosMB.grupo}" converter="grupoFornecimentoConverter">
                            <f:selectItem itemLabel="Selecione"/>
                            <f:selectItems value="#{produtosMB.listaGruposFornecimento}" var="f" itemLabel="#{f.nome}" itemValue="#{f}"/>
                            <p:ajax event="valueChange" update="tabela" listener="#{produtosMB.pesquisar()}"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable id="tabela" value="#{produtosMB.listaProdutos}" var="n" rows="10"
                             paginatorPosition="bottom"
                             rowsPerPageTemplate="5,10,15"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{produtosMB.listaProdutos.size()} registros encontrados"
                             paginator="true" rendered="true">

                    <f:facet name="header">
                        <h:outputText value="Produtos"/>
                    </f:facet>

                    <p:column sortBy="#{n.descricao}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Descricao}"/>
                        </f:facet>
                        <h:outputText value="#{n.descricao}" id="descricao"/>
                    </p:column>

                    <p:column sortBy="#{n.marca}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Marca}"/>
                        </f:facet>
                        <h:outputText value="#{n.marca}" id="marca"/>
                    </p:column>

                    <p:column sortBy="#{n.modelo}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Modelo}"/>
                        </f:facet>
                        <h:outputText value="#{n.modelo}" id="modelo"/>
                    </p:column>

                    <p:column sortBy="#{n.fkGrupoFornecimento.nome}">
                        <f:facet name="header">
                            <h:outputText value="Grupo de Fornecimento"/>
                        </f:facet>
                        <h:outputText value="#{n.fkGrupoFornecimento.nome}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}"/>
                        </f:facet>
                        <p:commandLink id="editlink" oncomplete="PF('addEditProdutosPopup').show();"
                                       update=":addEditProdutosPanel" action="#{produtosMB.prepareEditar}"
                                       immediate="true" disabled="#{!produtosMB.podeEditarProduto}">
                            <h:graphicImage value="#{produtosMB.imagemEditarRegistro}" style="border:0"/>
                            <f:setPropertyActionListener value="#{n}" target="#{produtosMB.produtos}"/>
                        </p:commandLink>
                        <p:tooltip for="editlink" value="#{label.general_Edit_Tip}"/>
                        <p:commandLink id="deletelink" oncomplete="PF('deleteProdutosPopup').show();">
                            <h:graphicImage value="/images/icons/del.png" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{produtosMB.produtos}" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>


                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="1"/>
                            <p:column>
                                <p:commandLink id="addlink" oncomplete="PF('addEditProdutosPopup').show();"
                                               update=":addEditProdutosPanel" action="#{produtosMB.prepareAdicionar}"
                                               immediate="true" disabled="#{!produtosMB.podeCriarProduto}">
                                    <h:graphicImage value="#{produtosMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>

                </p:dataTable>
            </h:form>



            <!-- ############################################## -->
            <!-- bloco de edição e adição de produtos           -->
            <p:dialog widgetVar="addEditProdutosPopup"                      
                      width="450"
                      header="#{(produtosMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      modal="true"
                      resizable="false"
                      draggable="true">
                <h:panelGrid columns="1" id="addEditProdutosPanel">
                    <h:form>
                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Descricao}:" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="40" id="descricao" value="#{produtosMB.produtos.descricao}" required="true" requiredMessage="A descrição é obrigatória."/>
                            <p:message for="descricao" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Marca}:" />
                            <p:inputText value="#{produtosMB.produtos.marca}" id="marca"
                                         required="true" requiredMessage="A Marca e obrigatória."/>
                            <p:message for="marca" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Modelo}:" />
                            <p:inputText value="#{produtosMB.produtos.modelo}" id="modelo"
                                         required="true" requiredMessage="O Modelo é obrigatório"/>
                            <p:message for="modelo" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Grupo de Fornecimento " />
                            <p:selectOneMenu id="grupo" value="#{produtosMB.produtos.fkGrupoFornecimento}" converter="grupoFornecimentoConverter" required="true" requiredMessage="o Grupo é obrigatório">
                                <f:selectItems value="#{produtosMB.listaGruposFornecimento}" var="l" itemLabel="#{l.nome}" itemValue="#{l}"/>
                            </p:selectOneMenu>
                            <p:message for="grupo" display="icon"/>

                        </h:panelGrid>
                        <p:messages/>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{produtosMB.gravar}"
                                         update=":form1:tabela, :addEditProdutosPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditProdutosPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>


            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deleteProdutosPopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{produtosMB.excluir}"
                                         update=":form1:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>
</html>