<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">
            <h:form id="form1">

                <p:panel header="Dados Básicos do Financiador" toggleable="true">
                    <h:panelGrid columns="1">
                        <h:panelGrid columns="5">

                            <h:outputText value="Financiador:" />
                            <h:outputText value="#{tiposAuxiliosMB.financiador.nome}"/>
                            <p:separator/>
                            <h:outputText value="Sigla:" />
                            <h:outputText value="#{tiposAuxiliosMB.financiador.sigla}" />

                            <h:outputText value="CNPJ:" />
                            <h:outputText value="#{tiposAuxiliosMB.financiador.cnpj}"/>
                            <p:separator/>
                            <h:outputText value="E-mail:" />
                            <h:outputText value="#{tiposAuxiliosMB.financiador.email}" />

                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>

                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="2">
                            <h:outputText value="#{label.general_Keyword}" />
                            <p:inputText value="#{tiposAuxiliosMB.pesquisa}">
                                <p:ajax event="keyup" update="tabelaLinha" listener="#{tiposAuxiliosMB.pesquisar}" />
                            </p:inputText>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable id="tabelaLinha" value="#{tiposAuxiliosMB.listaTiposAuxilio}"
                             var="m" rows="10" paginatorPosition="bottom" paginator="true"
                             rendered="true">
                    <f:facet name="header">
                        <h:outputText value="Tipos de Auxílio - #{tiposAuxiliosMB.financiador.sigla}"/> <!-- Colocar o nome do financiador -->
                    </f:facet>

                    <p:column  style="width:20px">
                        <p:rowToggler/>
                    </p:column>

                    <p:column sortBy="#{m.nome}">
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Name}" />
                        </f:facet>
                        <h:outputText value="#{m.nome}" id="nome" />
                    </p:column>

                    <p:column sortBy="#{m.sigla}">
                        <f:facet name="header">
                            <h:outputText value="Sigla" />
                        </f:facet>
                        <h:outputText value="#{m.sigla}" id="sigla" />
                    </p:column>

                    <p:column>
                        <p:commandLink id="editlink2" update=":addEditLinhaPanel"
                                       actionListener="#{tiposAuxiliosMB.prepareEditarTipoAuxilio(m)}" disabled="#{!tiposAuxiliosMB.podeEditarTipoAuxilio}">
                            <h:graphicImage value="#{tiposAuxiliosMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editlink2" value="#{label.general_Edit_Tip}" />

                        <p:commandLink id="deletelink" actionListener="#{tiposAuxiliosMB.prepareExcluirTipoAuxilio(m)}" disabled="#{!tiposAuxiliosMB.podeExcluirTipoAuxilio}">
                            <h:graphicImage value="#{tiposAuxiliosMB.imagemExcluirRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>

                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="1"/>
                            <p:column>
                                <p:commandLink id="addlink" update=":addEditLinhaPanel"
                                               actionListener="#{tiposAuxiliosMB.prepareAdicionarTipoAuxilio}" immediate="true" disabled="#{!tiposAuxiliosMB.podeCriarTipoAuxilio}">

                                    <h:graphicImage value="#{tiposAuxiliosMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>
                    <!-- Expansão de Linhas de Fomento referente à níveis -->
                    <p:rowExpansion>
                        <p:dataTable id="linhaTabela" value="#{m.modalidades}"  var="k">
                            <f:facet name="header">
                                <h:outputText value="#{label.general_Modalidades}" />
                            </f:facet>
                            <p:column sortBy="#{k.nome}">
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Modalidades}" />
                                </f:facet>
                                <h:outputText value="#{k.nome}"/>
                            </p:column>

                            <p:column sortBy="#{k.sigla}">
                                <f:facet name="header">
                                    <h:outputText value="Sigla" />
                                </f:facet>
                                <h:outputText value="#{k.sigla}"/>
                            </p:column>
                            
                            <p:column styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Desp. antes vigência" />
                                </f:facet>
                                <h:selectBooleanCheckbox value="#{k.permiteDespesaAntesVigencia}" disabled="true"/>
                            </p:column>
                            
                            <p:column styleClass="colunaMostrarData">
                                <f:facet name="header">
                                    <h:outputText value="Desp. após vigência" />
                                </f:facet>
                                <h:selectBooleanCheckbox value="#{k.permiteDespesaAposVigencia}" disabled="true"/>
                            </p:column>

                            <!-- add/edit/excluir de Níveis -->
                            <p:column>
                                <p:commandLink id="editlink" update=":addEditModalidadePanel"
                                               actionListener="#{tiposAuxiliosMB.prepareEditarModalidade(m,k)}" disabled="#{!tiposAuxiliosMB.podeEditarTipoAuxilio}">
                                    <h:graphicImage value="#{tiposAuxiliosMB.imagemEditarRegistro}" style="border:0" />
                                </p:commandLink>
                                <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                                <p:commandLink id="deletelink" actionListener="#{tiposAuxiliosMB.prepareExcluirModalidade(m,k)}"  disabled="#{!tiposAuxiliosMB.podeExcluirTipoAuxilio}">
                                    <h:graphicImage value="#{tiposAuxiliosMB.imagemExcluirRegistro}" style="border:0" />
                                </p:commandLink>
                                <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                            </p:column>

                            <f:facet name="footer">
                                <p:columnGroup>
                                    <p:column colspan="1"/>
                                    <p:column>
                                        <p:commandLink id="addlink" update=":addEditModalidadePanel"
                                                       actionListener="#{tiposAuxiliosMB.prepareAdicionarModalidade(m)}" immediate="true" disabled="#{!tiposAuxiliosMB.podeCriarTipoAuxilio}">
                                            <h:graphicImage value="#{tiposAuxiliosMB.imagemCriarRegistro}" style="border:0"/>
                                        </p:commandLink>
                                        <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                                    </p:column>
                                </p:columnGroup>
                            </f:facet>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </h:form>
            <!--****************************************-->
            <!-- LINHAS DE FOMENTO EDIÇÃO/ADIÇÃO E EXCLUSÃO-->
            <!--****************************************-->

            <!-- Bloco de edição e adição de Linhas de Fomento-->
            <p:dialog widgetVar="addEditLinhaPopup"                      
                      width="450"
                      modal="true"
                      header="#{(tiposAuxiliosMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditLinhaPanel">
                    <h:form>
                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Name}" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="20" value="#{tiposAuxiliosMB.tipoAuxilio.nome}" id="nomeLinha" required="true"
                                             requiredMessage="#{label.general_Name_Required}"/>
                            <p:message for="nomeLinha" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Sigla" />
                            <p:inputText value="#{tiposAuxiliosMB.tipoAuxilio.sigla}" id="siglaLinha" required="false"/>
                            <p:message for="siglaLinha" display="icon"/>

                        </h:panelGrid>
                        <p:messages/>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{tiposAuxiliosMB.gravarTipoAuxilio}"
                                         update=":form1:tabelaLinha, :addEditLinhaPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditLinhaPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- Bloco de exclusão de Linhas de Fomento -->
            <p:dialog widgetVar="deleteLinhaPopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <p:messages autoUpdate="true" showSummary="true" showDetail="true"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         actionListener="#{tiposAuxiliosMB.excluirTipoAuxilio}"
                                         update="#{renderizeOnComplete} :form1:tabelaLinha"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deleteLinhaPopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!--****************************************-->
            <!-- NíVEL EDIÇÃO/ADIÇÃO E EXCLUSÃO-->
            <!--****************************************-->

            <!-- Bloco de edição e adição de Modalidade-->
            <p:dialog widgetVar="addEditModalidadePopup"                      
                      width="450"
                      modal="true"
                      header="#{(tiposAuxiliosMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditModalidadePanel">
                    <h:form>
                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Name}" />
                            <p:inputTextarea style="width:300px;" autoResize="true" effectDuration="5" maxHeight="20" value="#{tiposAuxiliosMB.modalidade.nome}" id="nomeModalidade" required="true"
                                             requiredMessage="#{label.general_Name_Required}."/>
                            <p:message for="nomeModalidade" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Sigla" />
                            <p:inputText value="#{tiposAuxiliosMB.modalidade.sigla}" id="siglaModalidade" required="false"/>
                            <p:message for="siglaModalidade" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Permite despesas antes da vigência" />
                            <h:selectBooleanCheckbox id="checkboxPermiteDespesaAntesVigencia" value="#{tiposAuxiliosMB.modalidade.permiteDespesaAntesVigencia}" />
                            <p:message for="checkboxPermiteDespesaAntesVigencia" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Permite despesas após a vigência" />
                            <h:selectBooleanCheckbox id="checkboxPermiteDespesaAposVigencia" value="#{tiposAuxiliosMB.modalidade.permiteDespesaAposVigencia}" />
                            <p:message for="checkboxPermiteDespesaAposVigencia" display="icon"/>
                        </h:panelGrid>
                        <p:messages/>
                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{tiposAuxiliosMB.gravarModalidade}"
                                         update=":form1:tabelaLinha, :addEditModalidadePanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditModalidadePopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- Bloco de exclusão de Modalidade-->
            <p:dialog widgetVar="deleteModalidadePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <p:messages autoUpdate="true" showSummary="true" showDetail="true"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         actionListener="#{tiposAuxiliosMB.excluirModalidade}"
                                         update="#{renderizeOnComplete} :form1:tabelaLinha"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deleteModalidadePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>